<%- include layout.ejs %>

<h1><%= title %></h1>

<div>
  <center>
    <h1><%= originalname %></h1>
      <h1><%= date %></h1>
      <img alt="Poster" id="poster" src=<%= path %>>
    </center>
</div>

<%- include footer.ejs %>
